@font-face {
  font-family:'SF Pro Display';
  font-style:normal;
  font-weight:900;
  src:url("../SF-Pro-Display-Black.otf") format("otf");
}
@font-face {
  font-family:'SF Pro Display';
  font-style:normal;
  font-weight:100;
  src:url("../SF-Pro-Display-UltralightItalic.otf") format("otf");
}
@font-face {
  font-family:'SF Pro Display';
  font-style:normal;
  font-weight:500;
  src:url("../SF-Pro-Display-Regular.otf") format("otf");
}
@font-face {
  font-family:'Gotham Ultra';
  font-style:normal;
  font-weight:700;
  src:url("../gotham-ultra.ttf") format("truetype");
}
@font-face {
  font-family:'SF Pro Display';
  font-style:normal;
  font-weight:600;
  src:url("../SF-Pro-Display-Medium.otf") format("otf");
}