@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

@font-face {
  font-family:'Gotham Ultra';
  font-style:normal;
  font-weight:700;
  src:url("../gotham-ultra.ttf") format("truetype");
}
@font-face {
  font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 500;
}

@font-face {
  font-family: 'SF Pro Display Black';
    font-style: normal;
    font-weight: 100;
  src: url("../SFProDisplay-Black.ttf") format("truetype");
}
@font-face {
  font-family: 'SF Pro Display Bold';
  src: url("../SFProDisplay-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'SF Pro Display Light';
  src: url("../SFProDisplay-Light.ttf") format("truetype");
}
@font-face {
  font-family: 'SF Pro Display Medium';
  src: url("../SFProDisplay-Medium.ttf") format("truetype");

}
@font-face {
  font-family: 'SF Pro Display Semibold';
  src: url("../SFProDisplay-Semibold.ttf") format("truetype");
}
@font-face {
  font-family: 'SF Pro Display Thin';
  src: url("../SFProDisplay-Thin.ttf") format("truetype");
}
@font-face {
  font-family: 'SF Pro Display Ultralight';
  src: url("../SFProDisplay-Ultralight.ttf") format("truetype");
}
//black siradisi //64 px
//light altindakiler  24 px 12px
//semibold altindaki stronglar menu ana basiklae
//bold button bold 10
//medium menu dropdown basliklari //barlow cogu
//3lu 19 19